.layout {
  display: flex;
  margin-top: auto;
}

.sidebar {
  flex: 1;
}

.main-content {
  flex: 3;
  margin-left: 10px; /* Width of sidebar */
  padding: 20px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
